.features {
  margin-bottom: 120px;

  @media (max-width: 1200px) {
    margin-bottom: 100px;
  }

  @media (max-width:992px) {
    margin-bottom: 70px;
  }

  @media (max-width: 767px) {
    margin-bottom: 55px;
  }

  @media (max-width: 576px) {
    margin-bottom: 40px;
  }

  &__wrapper {
    position: relative;
    padding: 4.9% 0 9%;

    &::before {
      content: '';
      background-image: url(../images/features/delivery.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 440px;
      height: 585px;
      top: 0;
      left: 70px;
      z-index: -1;

      @media(max-width:992px) {
        opacity: 0.5;
        transform: scale(0.9);
      }

      @media (max-width: 767px) {
        opacity: 0.3;
        top: -30px;
      }

      @media (max-width: 576px) {
        opacity: 0.15;
        transform: scale(0.85);
        top: -47px;
        left: -50px;
      }

      @media (max-width: 576px) {
        transform: scale(0.55);
        top: -50px px;
        left: -70px;
      }


    }

    @media(max-width:992px) {
      padding: 11% 0 10%;
    }

    @media(max-width:767px) {
      padding: 10% 0 15%;
    }

    @media(max-width:576px) {
      padding: 11% 0 10%;
    }
  }

  &__content {
    max-width: 470px;
    margin: 0 70px 0 auto;
  }

  &__title {
    color: $darkBlue-900;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
    line-height: 1.32;
    font-size: calc(21px + 14 * (100vw / 1905));
  }

  &__subtitle {
    display: block;
  }

  &__text {
    opacity: 0.9;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__item {
    color: $darkBlue-900;
    font-size: calc(13px + 11 * (100vw / 1905));

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &::before {
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateY(-7px);
      width: 34px;
      height: 34px;
      display: inline-flex;
      align-items: center;
      margin-right: 24px;

      @media (max-width:375px) {
        margin-right: 10px;
      }
    }
  }

  &__item--timer {
    &::before {
      background-image: url(../images/sprite.svg#icon-timer);
      filter: invert(57%) sepia(28%) saturate(6295%) hue-rotate(337deg) brightness(101%) contrast(101%);
    }

    // поставил svg sprite потому что эти иконки я качал со стайлгайда, а там они чёрные, и чтобы поменять цвет поставил фильтр, как я понял, правильно будет иконки качать именнь со стайлгайда, а не с самого макета
  }

  &__item--delivery {
    &::before {
      background-image: url(../images/sprite.svg#icon-delivery);
      filter: invert(47%) sepia(38%) saturate(2165%) hue-rotate(170deg) brightness(101%) contrast(103%);
    }
  }

  &__item--resturent {
    &::before {
      background-image: url(../images/sprite.svg#icon-resturent);
      filter: invert(49%) sepia(97%) saturate(7112%) hue-rotate(348deg) brightness(105%) contrast(104%);
    }
  }

  &__link {
    letter-spacing: 0;
  }
}