.features {

  &__wrapper {
    position: relative;
    padding: 4.9% 0;

    &::before {
      content: '';
      background-image: url(../images/features/delivery.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      @include size(440, 585, 345, 462);
      top: 0;
      left: 70px;
      z-index: -1;

      @media(max-width:992px) {
        opacity: 0.5;
      }

      @media (max-width: 767px) {
        opacity: 0.3;
        left: 0;
      }

      @media (max-width: 576px) {
        opacity: 0.15;
      }

      @include hl {
        transform: scale(0.7);
        left: -70px;
        top: -50px;
      }

      @include hlm {
        transform: scale(0.6);
        left: auto;
        right: 0;
        top: -65px;
      }
    }

    @media(max-width:992px) {
      padding: 6% 0;
    }

    @media(max-width:576px) {
      padding: 14% 0;
    }

    @include hl {
      padding: 2% 0 2%;
    }
  }

  &__content {
    max-width: 470px;
    margin: 0 70px 0 auto;

    @media(max-width:576px) {
      margin: 0 0 0 -2px;
    }

    @include hl {
      margin-right: 0;
    }
  }

  &__title {
    color: $darkBlue-900;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
    line-height: 1.32;
    @include fz (36, 24);

    @media (max-width:576px) {
      letter-spacing: 0px;
    }

    @include hl {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    display: block;
  }

  &__text {
    opacity: 0.9;
    margin-bottom: 30px;

    @media (max-width:576px) {
      margin-bottom: 35px;
    }

    @include hl {
      margin-bottom: 15px;
    }
  }

  &__list {
    margin-bottom: 32px;

    @media(max-width:576px) {
      margin-bottom: 20px;
    }

    @include hl {
      margin-bottom: 20px;
    }
  }

  &__item {
    color: $darkBlue-900;
    @include fz (24, 18);

    &:not(:last-child) {
      margin-bottom: 13px;

      @include hl {
        margin-bottom: 8px;
      }
    }

    &::before {
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateY(-7px);
      width: 34px;
      height: 34px;
      display: inline-flex;
      align-items: center;
      margin-right: 24px;

      @media (max-width:375px) {
        margin-right: 7px;
      }
    }
  }

  &__item--timer {
    &::before {
      background-image: url(../images/sprite.svg#icon-timer);
      filter: invert(57%) sepia(28%) saturate(6295%) hue-rotate(337deg) brightness(101%) contrast(101%);
    }
  }

  &__item--delivery {
    &::before {
      background-image: url(../images/sprite.svg#icon-delivery);
      filter: invert(47%) sepia(38%) saturate(2165%) hue-rotate(170deg) brightness(101%) contrast(103%);
    }
  }

  &__item--resturent {
    &::before {
      background-image: url(../images/sprite.svg#icon-resturent);
      filter: invert(49%) sepia(97%) saturate(7112%) hue-rotate(348deg) brightness(105%) contrast(104%);
    }
  }

  &__link {
    letter-spacing: 0;
  }
}