.footer {
  &__top {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.2);
  }

  &__wrapper {
    display: flex;
  }

  &__content {
    max-width: 200px;
    margin-right: 69px;
  }

  &__logo {
    margin-left: 0;
    display: block;
    margin-bottom: 28px;
  }

  &__inner {
    display: flex;
  }

  &__list {
    column-count: 3;
    max-width: 560px;
    margin-right: 80px;

    // выставлять через column-gap не получится, нужно всё равно указывать width обязательно, потому что в третьем столбике текст переносится на 2 строки, и если выставлять первый и второй столбик по пиксельперфекту, без трансформа, то третий столбик всё равно через модификатор надо двигать левее, так что одно и то же получается, не вижу смысла менять 
  }

  &__item {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    min-width: 197px;

    &--link {
      transform: translateX(30px);
    }
  }

  &__link {
    transition: box-shadow 0.3s, border-radius 0.3s, color 0.3s, text-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px $focus;
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px $txtshadow;
      box-shadow: none;
    }
  }

  &__contacts-list {
    margin-bottom: 15px;
  }

  &__contacts-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.0;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__contacts-link {
    transition: box-shadow 0.3s, border-radius 0.3s, color 0.3s, text-shadow 0.3s, stroke 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px $focus;
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;

      .footer__contacts-icon {
        stroke: $orange-900;
      }
    }

    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px $txtshadow;
      box-shadow: none;

      .footer__contacts-icon {
        stroke: $dark;
      }
    }
  }

  &__contacts-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    fill: none;
    stroke: $dark;
    margin-right: 3px;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $silver-200;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s, background-color 0.3s, fill 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px $focus;
      background-color: $bgc;
    }

    &:hover {
      background-color: $orange-900;

      .footer__social-icon {
        fill: $white;
      }
    }

    &:active {
      box-shadow: none;
      background-color: $bgc;

      .footer__social-icon {
        fill: $orange-900;
      }
    }
  }

  &__social-icon {
    width: 20px;
    height: 20px;
    fill: $dark;
  }

  &__copy {
    text-align: center;
  }

  &__copy-text {
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
  }
}

.subscribe {
  width: 100%;

  &__input {
    width: 198px;
    // такая ширина, потому что бордер по 1 пиксею с каждой стороны и визульно немного видно, что форма ввода чуть больше 
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 13px 15px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.3;
    transition: color 0.3s, box-shadow 0.3s;

    &::placeholder {
      color: $gray;
      transition: color 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      outline-color: transparent;
    }

    &:hover{
      &::placeholder {
        color: $darkBlue-900;
      }
    }
  }

  &__btn {
    display: block;
    padding: 13px 38px;
    font-size: 14px;
    line-height: 1.3;

    &:hover,
    &:focus,
    &:active {
      .subscribe__icons {
        fill: $orange-900;
      }
    }
  }

  &__icons {
    width: 17px;
    height: 16px;
    fill: $white;
    vertical-align: middle;
    margin-right: 10px;
  }
}