.header {
  padding: 60px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-left: 5px;
  transition: box-shadow 0.3s, border-radius 0.3s, opacity 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px $focus;
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
    box-shadow: none;
  }
}

.menu {
  &__list {
    display: flex;
    margin-right: 50px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
  }

  &__item {
    letter-spacing: 0.4px;

    &:not(:last-child) {
      margin-right: 47px;
    }
  }

  &__link {
    transition: box-shadow 0.3s, border-radius 0.3s, color 0.3s, text-shadow 0.3s;

    &--active {
      color: $orange-900;
    }

    &:focus {
      box-shadow: 0 0 0 2px $focus;
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px $txtshadow;
      box-shadow: none;
    }
  }
}

.users {
  display: flex;


  &__form {
    display: flex;
    align-items: center;
  }

  &__form-button {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;

    &::before {
      content: "";
      background-image: url(../images/icons/icon-search.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 19px;
      height: 19px;
      filter: invert(21%) sepia(22%) saturate(743%) hue-rotate(197deg) brightness(93%) contrast(93%);
    }

    &:hover {
      background-color: $orange-900;

      &.users__form-button::before {
        filter: invert(100%) sepia(100%) saturate(17%) hue-rotate(262deg) brightness(105%) contrast(105%);
      }
    }
  }

  &__form-button--search {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    padding: 0;
  }

  &__form-input {
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.5s;
    position: relative;
    font-size: 0;
    color: $dark;
    width: 0;
    height: 0;
    padding: 0;
    font-weight: 300;


    &::placeholder {
      color: $gray;
      font-size: 16px;
      font-weight: 300;
    }

    &:focus {
      box-shadow: 0 0 0 $bxshadow;
      outline: $focus;
      border: 1px solid $orange-900;
      background-color: $bgc;
    }
  }

  &__button {
    padding: 22px;
    border: none;
    width: 19px;
    height: 19px;
    display: block;
    stroke: $darkBlue-900;
    position: relative;
    border-radius: 5px;
    fill: transparent;
    transition: stroke 0.3s, background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $orange-900;

      .users__icon {
        stroke: $white;
      }

      .users__number {
        background-color: $white;
        color: $orange-900;
      }
    }

    &:active {
      background-color: $bgc;
      border-radius: 5px;

      .users__icon {
        stroke: $darkBlue-900;
      }

      .users__number {
        color: $white;
        background-color: $orange-900;
      }
    }

    &:focus {
      background-color: $bgc;
      border-radius: 5px;
      stroke: $darkBlue-900;
      box-shadow: 0 0 0 2px $focus;
      outline-color: $focus;
    }
  }

  &__number {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: $orange-900;
    top: 7px;
    right: 4px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.5;
    color: $white;
  }

  &__nav {
    &:not(:last-child) {
      display: flex;
    }
  }

  &__icon {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 11px;
    left: 11px;
    stroke: $darkBlue-900;
  }
}

.search-active {
  margin-right: 10px;

  .users__form-button--search {
    padding: 22px 0;
    width: 30%;
    font-size: 17px;
    transition: width 0.5s, height 0.5s, font-size 0.5s, background-color 0.3s, box-shadow 0.3s, border-radius 0.3s, outline-color 0.3s, color 0.3s;
  }

  .users__form-input {
    width: 250px;
    height: 44px;
    padding: 7px;
    font-size: 16px;
    margin-right: 10px;
    border-color: $gray;
    background-color: $white;
    transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, outline-color 0.3s, width 0.5s;

    &::placeholder {
      color: $gray;
      transition: color 0.3s;
    }

    &:focus {
      border-color: transparent;
      box-shadow: 0 0 0 2px $orange-900;
      outline-color: transparent;
    }

    &:hover {
      &::placeholder {
        color: $darkBlue-900;
      }
    }
  }
}