.restorant {
  // margin-bottom: 123px;

  // @media (max-width: 1200px) {
  //   margin-bottom: 100px;
  // }

  // @media (max-width:992px) {
  //   margin-bottom: 70px;
  // }

  // @media (max-width: 767px) {
  //   margin-bottom: 55px;
  // }

  @media (max-width: 576px) {
    // margin-bottom: 40px;

    .container {
      padding: 0;
    }
  }

  &__list {
    justify-content: space-between;
  }

  &__wrapper {
    text-align: center;
  }

  &__title {
    margin-bottom: 45px;
    margin-left: -17px;

    @media(max-width:576px) {
      margin-bottom: 30px;
      margin-left: 8px;
      letter-spacing: 0.3px;
    }

    @include hl {
      margin-bottom: 20px;
    }
  }

  &__img {
    object-fit: cover;
    margin: 0 auto;

    @include hl {
      height: 200px;
    }
  }

  &__link-icon {
    padding: 4px 26px;
    background-color: $orange-900;
    border-radius: 20px;
    line-height: 0;
    border: 2px solid transparent;
    transition: border-color 0.4s, background-color 0.4s, fill 0.4s;

    .restorant__icon {
      transition: transform 0.3s;
    }

    &:focus {
      border-color: #FF9574;
      background-color: $bgc;

      .restorant__icon {
        fill: $orange-900;
      }
    }

    &:hover {
      background-color: $white;
      border-color: #FF9574;

      .restorant__icon {
        fill: $orange-900;
        transform: translateX(20px);
      }
    }

    &:active {
      background-color: $bgc;

      .restorant__icon {
        fill: $orange-900;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px;

    @include hl {
      padding-bottom: 10px;
    }
  }

  &__time {
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;

    &::before {
      content: '';
      background-image: url(../images/sprite.svg#icon-time);
      transform: translateY(5px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: inline-flex;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      filter: invert(17%) sepia(7%) saturate(1100%) hue-rotate(42deg) brightness(99%) contrast(90%);
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: $white;
  }
}

.swiper-swipe {
  height: 900px;
  position: relative;
  padding: 0 15px 5px;
  overflow: hidden;

  @media (max-width:990px) {
    height: 100%;
    padding-bottom: 50px;
  }
}

.swiper-wrapper__restorant {
  @media (max-width:990px) {
    height: 100%;
  }
}

.swiper-swipe .swiper-slide__restorant {
  height: auto;
  width: calc(290px + 80 * (100vw / 1905));
  overflow: hidden;

  @media (max-width:990px) {
    height: 99%;
  }

  @media (max-width:630px) {
    width: calc(100px + 80 * (100vw / 1905));
  }
}

.swiper-swipe__card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-swipe .swiper-pagination-bullets.swiper-pagination-horizontal {

  @media (max-width:576px) {
    bottom: 5px;
    left: 5px;
  }

  @include hl {
    bottom: 20px;
  }
}