$orange-900: #ff6838;
$silver-100: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$white: #fff;
$focus: rgba(255, 104, 56, 0.7);
$bgc: #fff2ed;
$txtshadow: rgba(49, 53, 43, 0.5);
$bgch: rgba(255, 122, 80, 0.1);
$bxshadow: rgba(255, 104, 56, 0.2);
$shdw: rgba(255, 104, 56, 0.5);
$blue: #00aaff;
$red: #ff2222;
$black: rgba(0, 0, 0, 0.1);

$Rubik: 'Rubik', Tahoma;